.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-right * .MuiSlider-root {
  color: green;
}

.footer-green {
  color: #1ed15e;
}

.footer-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}
.footer-album-logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-right: 20px;
}
.footer-center {
  flex: 0.4;
  padding: 0 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.footer-icon {
  cursor: pointer;
}

.footer-icon:hover,
.footer-green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer-right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
